.error-msg{
	color:#f50;
	padding-left: 10px;
}
.am-tab-bar{
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: -100;
}
.fixd-header.am-navbar{
	position: fixed;
	top: 0;
	width: 100%;
}
.page-content{
	padding:45px 5px;
}

#chat-page .chatme .am-list-extra{
	flex-basis:auto;
}

#chat-page .chatme .am-list-content{
	padding-right:15px;
	text-align:right;
}

.stick-footer{
	z-index:1000;
	position:fixed;
	bottom: 0;
	width: 100%;
}